html{
    font-size: 62.5%;
    background-color: #f5f3f5;
    
}

body{
    margin:0;
    font-family: 'Times New Roman', Times, serif;

}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;

}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* navigation bar*/

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4.1em;
    margin: 0;

}

nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position:relative

}

nav ul li a .active:before {
    position:absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
    
}

nav ul li a:before{
    position:absolute;
    content: "";
    width: 0%;
    height: 1px;
    border-bottom: 2px solid gray;
    bottom: -6px;
    transition: width .3s;
}
/* hero section*/
main{
    display: flex;
    gap: 8em;
    margin-top: 11em;
}

.left-col{
    width: 45%;

}

.right-col{
    flex-grow: 1;

}

h1{
    font-size: 5.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin: 0;
}

.subhead{
    font-size: 1.8rem;
}

.cta-btns{
    margin: 5em 0;
}

.cta-btns, .secondary-cta{
    display: flex;
    gap: 2em;
}

.primary-cta{
    background-color: #F2F0DF;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-radius: 1.9em;
    padding: 1em 2em;

}

.secondary-cta{
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    display: block;
    padding: 1em 0;
    align-items: center;
    
}

.secondary-cta svg{
    width: 20px;
    transition: transform .3s;
}

.news {
    display: flex;
    gap: 3em;
    padding: 5em;
    border: 1px solid black;
    border-radius: .8em;
    position: relative;

}

.news:before {
    position: absolute;
    content: "";
    background: url('../images/celebrate.svg');
    width: 80px;
    height: 100px;
    top: -20px;
    left: -20px;
    z-index: 2;
}

.p.employees {
    font-size: 3.3rem;
    margin: 0;
    font-weight: 200;

}

.p.details {
    font-size: 1.4rem;
    margin: 0;
}

/* Right column gallery */


.right-col{
    display: grid;
    gap: 2.3em;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "left right"
        "left bottom";

}

.card {
    border-radius: .8em;
    padding: 1.1em;
    display: flex;
    align-items: end;
    background-size: 120%;



}

.card1 {
    grid-area: left;
    background-image: url(../images/Coffee.png);
    position: relative;
}

.card1:before{

}

.card2 {
    background-image: url(../images/Eye.png);
}

.card3 {
    background-image: url(../images/smile.png);
}

.card-details {
    background-color: white;
    border-radius: .6em;
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-details a {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}

.card-details p {
    font-size: 1.4rem;
    margin: 0;
}

/* Microinteraction */

nav ul li a:hover:before {
    width: 35%;
}

.primary-cta:hover {
    background-color: #e3e0c7;
}

.secondary-cta:hover svg {
    transform: translateX(10px);
}
